<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../bower_components/vaadin-material-theme/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="my-icons.html">

<!-- NOT PLANNED DIALOG CONTENT TEMPLATES -->
<dom-module id="subHeader-notplanned">
    <template>
        <style include="iron-flex iron-flex-alignment">
            .dialog-info-item{
                /*@apply(--layout-vertical);*/
                /*No funcionen els mixins flex ??? */
                display: flex;
                flex-direction: column;
                margin-right: 50px;
            }

            .dialog-info-item-title{
                font-weight: bold;
                font-size: .8rem;
                opacity: .7;
            }

            .dialog-info-item-value{
                font-size: 1rem;
                font-weight: bold;
                opacity: .9;
            }

            .dialog-order-info{
                display: flex;
                flex-direction: row;
                margin-top: 0;
                padding: 16px;
                background-color: #eeeeee;
                border-bottom: 1px solid #bbc6ca;
            }
        </style>
        <div class="dialog-order-info">
            <div class="dialog-info-item">
                <div class="dialog-info-item-title">PRODUCTS</div>
                <div class="dialog-info-item-value">3</div>
            </div>

            <div class="dialog-info-item">
                <div class="dialog-info-item-title">SPLITS</div>
                <div class="dialog-info-item-value">2</div>
            </div>

            <div class="dialog-info-item">
                <div class="dialog-info-item-title">WEIGHT</div>
                <div class="dialog-info-item-value">5,5 Tn</div>
            </div>

            <div class="dialog-info-item">
                <div class="dialog-info-item-title">DESTINATION</div>
                <div class="dialog-info-item-value">Barcelona</div>
            </div>

            <div class="dialog-info-item">
                <div class="dialog-info-item-title">COSTUMER CODE</div>
                <div class="dialog-info-item-value">0866528</div>
            </div>

            <div class="dialog-info-item">
                <div class="dialog-info-item-title">COSTUMER NAME</div>
                <div class="dialog-info-item-value">Poliesportiu Can Brians</div>
            </div>
        </div>
    </template>
</dom-module>
<dom-module id="dialog-order-notplanned">
    <template>
        <style is="custom-style">

            vaadin-grid#order-grid{
                width: 78vw;
                font-family: Roboto, sans-serif;

                --vaadin-grid-cell: {
                    padding: 0;
                };
            }

            vaadin-grid#order-grid paper-checkbox {
                --primary-color: #4BAF4F;
                margin: 0 24px;
            }

            vaadin-grid#order-grid .ellipsis{
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 8px;
            }

            vaadin-grid#order-grid .cell.numeric {
                text-align: right;
            }

            vaadin-grid#order-grid .cell {
                font-size: 0.9286rem;
            }

            vaadin-grid#order-grid .header-cell {
                font-weight: bold;
                opacity: .7;
                font-size: 0.9286rem;
                color: #30383c;
            }

            vaadin-grid-cell-content{
                padding: 16px 8px;
                border-bottom: 1px solid #dfdfdf;
            }

            iron-icon[icon="my-icons:done"] {
                --iron-icon-fill-color: #FFFFFF ;
                background-color: #4CAF50 ;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                padding: 3px;
            }

            iron-icon[icon="my-icons:remove"] {
                --iron-icon-fill-color: #FFFFFF ;
                background-color: #FE8D01 ;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                padding: 3px;
            }

            iron-icon[icon="my-icons:close"] {
                --iron-icon-fill-color: #FFFFFF ;
                background-color: #F44336 ;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                padding: 3px;
            }

        </style>
        <vaadin-grid id="order-grid" items='[{"READY": "yes", "PRODUCTS": "SWP", "CRANE": "No", "DELIVERTIME": "-", "OBSERVATIONS": "Call Morten Tlf. 223332332", "FROMOTHERSITE": "No", "CREDITMAX": "No", "POSITION": "1.0", "WEIGHT": "2,55 Tn", "SPLIT1": "OK", "SPLIT2": "OK", "SPLIT3": "OK" },
                                            {"READY": "yes", "PRODUCTS": "C&A", "CRANE": "Yes", "DELIVERTIME": "6:30", "OBSERVATIONS": "-", "FROMOTHERSITE": "Yes", "CREDITMAX": "Yes", "POSITION": "3.0", "WEIGHT": "8,55 Tn", "SPLIT1": "OK", "SPLIT2": "OK", "SPLIT3": "OK" },
                                            {"PRODUCTS": "SWP", "CRANE": "No", "DELIVERTIME": "-", "OBSERVATIONS": "Call Morten Tlf. 223332332", "FROMOTHERSITE": "No", "CREDITMAX": "No", "POSITION": "1.0", "WEIGHT": "2,55 Tn", "SPLIT1": "OK", "SPLIT2": "OK", "SPLIT3": "OK" },
                                            {"PRODUCTS": "SWP", "CRANE": "Yes", "DELIVERTIME": "8:30", "OBSERVATIONS": "-", "FROMOTHERSITE": "No", "CREDITMAX": "Yes", "POSITION": "4.2", "WEIGHT": "10,55 Tn", "SPLIT1": "OK", "SPLIT2": "OK", "SPLIT3": "OK" }]'>
            <vaadin-grid-column width="70px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">READY</div>
                </template>
                <template is="dom-if" if="{{ITEM.READY}}">
                    <div class="cell">
                        <iron-icon icon="my-icons:done"></iron-icon>
                    </div>

                    <!--<div class="cell">-->
                        <!--<paper-icon-button class="icon-status red" icon="my-icons:remove"></paper-icon-button>-->
                    <!--</div>-->
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="header-cell">PRODUCTS</div>
                </template>
                <template>
                    <div class="cell">[[item.PRODUCTS]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="header-cell">CRANE</div>
                </template>
                <template>
                    <div class="cell">[[item.CRANE]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="header-cell">DELIVER TIME</div>
                </template>
                <template>
                    <div class="cell">[[item.DELIVERTIME]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column  width="200px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">OBSERVATIONS</div>
                </template>
                <template>
                    <div class="cell ellipsis">[[item.OBSERVATIONS]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="header-cell">FROMOTHERSITE</div>
                </template>
                <template>
                    <div class="cell">[[item.FROMOTHERSITE]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="header-cell">CREDITMAX</div>
                </template>
                <template>
                    <div class="cell">[[item.CREDITMAX]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="80px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">POSITION</div>
                </template>
                <template>
                    <div class="cell">[[item.POSITION]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="80px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">WEIGHT</div>
                </template>
                <template>
                    <div class="cell">[[item.WEIGHT]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column  width="80px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">SPLIT1</div>
                </template>
                <template>
                    <paper-checkbox checked="{{item.SPLIT1}}"></paper-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="80px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">SPLIT2</div>
                </template>
                <template>
                    <paper-checkbox checked="{{item.SPLIT2}}"></paper-checkbox>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="80px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">SPLIT3</div>
                </template>
                <template>
                    <paper-checkbox checked="{{item.SPLIT3}}"></paper-checkbox>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>

</dom-module>

<!-- PLANNED DIALOG CONTENT TEMPLATES -->
<dom-module id="subHeader-planned">
    <template>
        <style include="iron-flex iron-flex-alignment">
            .dialog-info-item{
                /*@apply(--layout-vertical);*/
                /*No funcionen els mixins flex ??? */
                display: flex;
                flex-direction: column;
                margin-right: 50px;
            }

            .dialog-info-item-title{
                font-weight: bold;
                font-size: .8rem;
                opacity: .7;
            }

            .dialog-info-item-value{
                font-size: 1rem;
                font-weight: bold;
                opacity: .9;
            }

            .dialog-order-info{
                display: flex;
                flex-direction: row;
                margin-top: 0;
                padding: 16px;
                background-color: #eeeeee;
                border-bottom: 1px solid #bbc6ca;
            }
        </style>
        <div class="dialog-order-info">
            <div class="dialog-info-item">
                <div class="dialog-info-item-title">PRODUCTS</div>
                <div class="dialog-info-item-value">3</div>
            </div>

            <div class="dialog-info-item">
                <div class="dialog-info-item-title">PALLETS</div>
                <div class="dialog-info-item-value">3</div>
            </div>

            <div class="dialog-info-item">
                <div class="dialog-info-item-title">STRAPS</div>
                <div class="dialog-info-item-value">1</div>
            </div>

            <div class="dialog-info-item">
                <div class="dialog-info-item-title">WEIGHT</div>
                <div class="dialog-info-item-value">5,5 Tn</div>
            </div>

            <div class="dialog-info-item">
                <div class="dialog-info-item-title">DESTINATION</div>
                <div class="dialog-info-item-value">Barcelona</div>
            </div>

            <div class="dialog-info-item">
                <div class="dialog-info-item-title">COSTUMER CODE</div>
                <div class="dialog-info-item-value">0866528</div>
            </div>

            <div class="dialog-info-item">
                <div class="dialog-info-item-title">COSTUMER NAME</div>
                <div class="dialog-info-item-value">Poliesportiu Can Brians</div>
            </div>
        </div>
    </template>

</dom-module>
<dom-module id="dialog-order-planned">
    <template>
        <style is="custom-style">

            vaadin-grid#order-grid{
                width: 78vw;
                font-family: Roboto, sans-serif;

                --vaadin-grid-cell: {
                    padding: 0;
                };
            }

            vaadin-grid#order-grid paper-checkbox {
                --primary-color: #4BAF4F;
                margin: 0 24px;
            }

            vaadin-grid#order-grid .ellipsis{
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 8px;
            }

            vaadin-grid#order-grid .cell.numeric {
                text-align: right;
            }

            vaadin-grid#order-grid .cell {
                font-size: 0.9286rem;
            }

            vaadin-grid#order-grid .header-cell {
                font-weight: bold;
                opacity: .7;
                font-size: 0.9286rem;
                color: #30383c;
            }

            vaadin-grid-cell-content{
                padding: 16px 8px;
                border-bottom: 1px solid #dfdfdf;
            }

            iron-icon[icon="my-icons:done"] {
                --iron-icon-fill-color: #FFFFFF ;
                background-color: #4CAF50 ;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                padding: 3px;
            }

            iron-icon[icon="my-icons:remove"] {
                --iron-icon-fill-color: #FFFFFF ;
                background-color: #FE8D01 ;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                padding: 3px;
            }

            iron-icon[icon="my-icons:close"] {
                --iron-icon-fill-color: #FFFFFF ;
                background-color: #F44336 ;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                padding: 3px;
            }

        </style>
        <vaadin-grid id="order-grid" items='[{"READY": "yes", "PRODUCTS": "SWP", "CRANE": "No", "DELIVERTIME": "-", "OBSERVATIONS": "Call Morten Tlf. 223332332", "FROMOTHERSITE": "No", "CREDITMAX": "No", "POSITION": "1.0", "WEIGHT": "2,55 Tn", "SPLIT1": "OK", "SPLIT2": "OK", "SPLIT3": "OK" },
                                            {"READY": "yes", "PRODUCTS": "C&A", "CRANE": "Yes", "DELIVERTIME": "6:30", "OBSERVATIONS": "-", "FROMOTHERSITE": "Yes", "CREDITMAX": "Yes", "POSITION": "3.0", "WEIGHT": "8,55 Tn", "SPLIT1": "OK", "SPLIT2": "OK", "SPLIT3": "OK" },
                                            {"PRODUCTS": "SWP", "CRANE": "No", "DELIVERTIME": "-", "OBSERVATIONS": "Call Morten Tlf. 223332332", "FROMOTHERSITE": "No", "CREDITMAX": "No", "POSITION": "1.0", "WEIGHT": "2,55 Tn", "SPLIT1": "OK", "SPLIT2": "OK", "SPLIT3": "OK" },
                                            {"PRODUCTS": "SWP", "CRANE": "Yes", "DELIVERTIME": "8:30", "OBSERVATIONS": "-", "FROMOTHERSITE": "No", "CREDITMAX": "Yes", "POSITION": "4.2", "WEIGHT": "10,55 Tn", "SPLIT1": "OK", "SPLIT2": "OK", "SPLIT3": "OK" }]'>
            <vaadin-grid-column width="70px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">READY</div>
                </template>
                <template is="dom-if" if="{{ITEM.READY}}">
                    <div class="cell">
                        <iron-icon icon="my-icons:done"></iron-icon>
                    </div>

                    <!--<div class="cell">-->
                    <!--<paper-icon-button class="icon-status red" icon="my-icons:remove"></paper-icon-button>-->
                    <!--</div>-->
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">PRODUCTS</div>
                </template>
                <template>
                    <div class="cell">[[item.PRODUCTS]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">CRANE</div>
                </template>
                <template>
                    <div class="cell">[[item.CRANE]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="header-cell">DELIVER TIME</div>
                </template>
                <template>
                    <div class="cell">[[item.DELIVERTIME]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column  width="300px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">OBSERVATIONS</div>
                </template>
                <template>
                    <div class="cell ellipsis">[[item.OBSERVATIONS]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="header-cell">FROMOTHERSITE</div>
                </template>
                <template>
                    <div class="cell">[[item.FROMOTHERSITE]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="header-cell">CREDITMAX</div>
                </template>
                <template>
                    <div class="cell">[[item.CREDITMAX]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="80px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">POSITION</div>
                </template>
                <template>
                    <div class="cell">[[item.POSITION]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="80px" flex-grow="0">
                <template class="header">
                    <div class="header-cell">WEIGHT</div>
                </template>
                <template>
                    <div class="cell">[[item.WEIGHT]]</div>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>

</dom-module>