<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu-shared-styles.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/celsa-interaction-service/celsa-interaction-service.html">
<link rel="import" href="dialog-templates.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-app">
  <template>
    <style include="iron-flex iron-flex-alignment">

      /*:host {*/
        /*--done-color: #4285f4;*/
        /*--pendant-color: black;*/
        /*display: block;*/
      /*}*/

      /* DRAWER MENU PANEL */
      #drawer app-toolbar{
        @apply(--layout-vertical);
        background-color: #131c32;
        padding: 0;
        color: #fff;
        align-items: inherit;
        height: 100%;
      }

      #drawer .toolbar-content{
        @apply(--layout-vertical);
      }

      #drawer .user{
        padding: 16px;
        background-color: #4D0404;
      }

      #drawer .avatar{
        @apply(--layout);
        @apply(--layout-center-center);
        border: 2px solid white;
        border-radius: 50%;
        padding: 5px;
        height: 40px;
        width: 40px;
        margin-bottom: 8px;
      }

      #drawer .avatar span{
        font-size: 1.286rem;
      }

      #drawer .username{
        font-size: 1rem;
      }

      #drawer .carrec{
        font-size: 0.8571rem;
        font-weight: 100;
      }

      #drawer iron-selector{
        padding: 16px;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-drawer-layout{
        background-color: #fff;
      }

      .drawer-list{
        margin-top: 10px;
      }

      .drawer-list a {
        display: block;
        padding: 0;
        text-decoration: none;
        line-height: 40px;
        color: #fff;
        font-size: 1rem;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      /* TOP TOOLBAR */
      #top-toolbar{
        @apply(--layout-horizontal);
        height: 50px;
        background-color: #263238;
        color: #fff;
      }

      .top-toolbar-container{
        @apply(--layout-horizontal);
        @apply(--layout-self-center);
        @apply(--layout-justified);
        flex: 1;
      }

      .toolbar-title{
        @apply(--layout-horizontal);
        @apply(--layout-start);
        @apply(--layout-center);
        font-size: 0.9286rem;
        font-weight: 500;
        opacity: .9;
      }

      .toolbar-info{
        @apply(--layout-horizontal);
        @apply(--layout-end-justified);
        @apply(--layout-center);
        font-size:   0.7857rem;
        font-weight: 500;
        opacity: .7;
      }

      .toolbar-logo{
        @apply(--layout-horizontal);
        @apply(--layout-center);
      }

      celsa-interaction-service{
          --celsa-interaction-service-width: 80%;
      }


    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed force-narrow narrow="{{narrow}}">

      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>
          <div class="toolbar-content">
            <div class="user">
              <div class="avatar"><span>JD</span></div>
              <div class="username">John Doe Doe</div>
              <div class="carrec">Nombre del cargo</div>
            </div>
            <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
              <a name="view1" href="[[rootPath]]view1">View One</a>
              <a name="info" href="[[rootPath]]view1">Info aplicació</a>
              <a name="configuracio" href="[[rootPath]]view1">Configuració</a>
              <a name="logout" href="[[rootPath]]view1">Tancar sessió</a>
            </iron-selector>
          </div>
        </app-toolbar>
      </app-drawer>

      <app-header-layout has-scrolling-region>
         <!--app-header-->
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar id="top-toolbar">
            <div class="top-toolbar-container">
              <div class="toolbar-title">
                <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
                <div style="margin-left: 10px;">Celsa Transporting Planning</div>
              </div>
              <div class="toolbar-logo">
                <iron-image src="../images/logo_celsa.png"></iron-image>
              </div>
              <div class="toolbar-info">
                NEXT REFRESH 16/10/2017 | 09:13
                <paper-icon-button icon="my-icons:refresh"></paper-icon-button>
              </div>
            </div>
          </app-toolbar>
        </app-header>
        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-view1 name="view1"></my-view1>
          <my-view2 name="view2"></my-view2>
          <my-view3 name="view3"></my-view3>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
    <celsa-interaction-service></celsa-interaction-service>
  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

        toggleDay() {
            var moreInfo = this.shadowRoot.getElementById('collapse');
            var iconButton = Polymer.dom(event).localTarget;
            iconButton.icon = moreInfo.opened ? 'my-icons:keyboard-arrow-down'
                : 'my-icons:keyboard-arrow-up';
            moreInfo.toggle();
        }


    }

    /* NOT PLANNED OBJECTS */
    var subHeaderNotplanned = Polymer.DomModule.import('subHeader-notplanned', 'template');
    var notplannedContent = Polymer.DomModule.import('dialog-order-notplanned', 'template');
    var obj1 = {
        header: 'Order 34609',
        actions: [
            {
                actionId: 'dismiss',
                label: 'CLOSE',
                callback: () => console.log('callbackDismissCustomize')
            },
            {
                actionId: 'save',
                label: 'SAVE',
                callback: () => console.log('callbackMaybeCustomize')
            }
        ],
        isModal: true,
        headerDialogAction: 'back',
        withBackdrop: true,
        hideHeader: false,
        closeCallback: () => console.log('closeCallback custom dialog'),
        content: notplannedContent,
        subHeader: subHeaderNotplanned,
        headerIcon: 'interaction-icons:done',
        classifiers: 'success'
    };

    /* PLANNED OBJECTS */
    var subHeaderplanned = Polymer.DomModule.import('subHeader-planned', 'template');
    var plannedContent = Polymer.DomModule.import('dialog-order-planned', 'template');
    var obj2 = {
        header: 'Order 34609',
        actions: [
            {
                actionId: 'dismiss',
                label: 'CLOSE',
                callback: () => console.log('callbackDismissCustomize')
            },
            {
                actionId: 'addPallet',
                label: 'ADD PALLET',
                callback: () => console.log('callbackMaybeCustomize')
            },
            {
                actionId: 'addStrap',
                label: 'ADD STRAP',
                callback: () => console.log('callbackMaybeCustomize')
            }
        ],
        isModal: true,
        headerDialogAction: 'back',
        withBackdrop: true,
        hideHeader: false,
        closeCallback: () => console.log('closeCallback custom dialog'),
        content: plannedContent,
        subHeader: subHeaderplanned,
        headerIcon: 'interaction-icons:done',
        classifiers: 'success'
    };


    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
